<!-- <h1>TVShows App</h1> -->

<div>
  <form class="example">
    <!-- <input type="text" placeholder="" id="query" (keyup)="onKeyup($event)" #query> -->
    <input type="text" placeholder="" id="querySearch" name="quearySearch" [(ngModel)] = "querySearch">
    <button (click)="onClick()">
        Search
     </button>
  </form> 
</div>

<div>
  <ul>
      <li *ngFor="let element of showName">
          <table>
            <tr>
                <td><img [src]="element.image" alt='https://ik.imagekit.io/demo/img/tr:di-medium_cafe_B1iTdD0C.jpg/non_existent_image.jpg'></td>
            </tr>
            <tr>
              <td>{{element.name}}</td>
            </tr>
            <tr>
              <td>{{element.language}}</td>
            </tr>
            <tr>
              <td>{{element.genres}}</td>
            </tr>
            <tr>
              <td>{{element.rating}}</td>
            </tr>
            <tr>
              <td>{{element.summary}}</td>
            </tr>
            <tr>
             
            </tr>
            <tr><br></tr>
            </table>
          </li>
  </ul>
</div>

