/* * {
  box-sizing: border-box;
} */

/* Style the search field */
#querySearch {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 200px;
  background: #f1f1f1;
  font-family: Arial;
}

/* Style the submit button */
.btn {
  /* float: left; */
  width: 100px;
  /* padding: 10px; */
  background: #985E6D;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #985E6D;
}

/* Search field position */
/* .example {
  padding: 0 30px 30px 20px;
} */

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* Float image to the left and rest of details next to it */
img {
  max-width: 100%;
  height: auto;
}

/* .img-resize {
  max-width:300%;
  max-height:300%;
  overflow: hidden;
} */

ul {
  list-style-type: none;
  list-style: none;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  padding-right: 5px;
}
.text-details {
   text-align: left;
   font-size: 12px;
 }

 body{
	width:100%;
	margin:auto;
}
#wrapper{
	display:block;
	width:100%;
	margin:auto;
}
#content{
	display:block;
	width:100%;
	margin:auto;
}

/* Show poster */
figure {
  position: relative;
  }
  
/* Show poster caption */
#footer {
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: white;
    background-color: #985E6D;
    font-size: 1.6rem;
    width: 100%;
    /* opacity: 0.85; */
  }

  .rating {
    text-align: right;
  }

  .star {
    color: transparent;  
    text-shadow: 0 0 0 rgb(247, 179, 7);
  }

  .container {
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left:0;
    margin-top: 30px;
    position: absolute;
 }

 .no-padding {
  padding-left: 0;
  padding-right: 0;
}

  /* .banner img {
      max-width: 100%;
      text-align: center;
      display: block;
      margin: auto;
  } */

  #background {
    display: none !important;
    visibility: hidden !important;
    position: relative;
  }

  .navbar{
    position:relative;
    width:auto;
    height:auto;
    background-color: rgb(3, 3, 3); 
    margin-bottom: 0;
    }

.bg-primary {
    background-color: rgb(3, 3, 3)!important;
}


.navbar-brand {
    font-size: 30px;
  }

* {
    border-radius: 0 !important;
  }

.navbar {
    background-color: #192231 !important;
}

.errorMessage {
  font-size: 14px;
  color: rgb(82, 6, 6);
}
.msgBlock {
  background: rgb(167, 155, 158);
  text-align: center;
  border: 3px;
  border-block-color:rgb(82, 6, 6);
  padding: 35px 0px 35px 0px;
  margin-left: 25%;
  margin-right: 25%;
 }
 .spacer {
  padding-top: 40px;
  padding-bottom: 40px;
}

/**Media Query*/
/** Small devices (phones, 576px and up)*/
@media (max-width: 767px) { 
  msgBlock {
    margin-left: 0%;
    margin-right: 0%;
  }

}