.navbar{
    position:relative;
    width:auto;
    height:auto;
    background-color: rgb(3, 3, 3); 
    }

.bg-primary {
    background-color: rgb(3, 3, 3)!important;
}


.navbar-brand {
    font-size: 30px;
  }

* {
    border-radius: 0 !important;
  }

.navbar {
    background-color: #192231 !important;
}

/* * {
  box-sizing: border-box;
} */

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 200px;
  background: #f1f1f1;
  font-family: Arial;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 100px;
  padding: 10px;
  background: #985E6D;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #985E6D;
}

/* Search field position */
.example {
  padding: 0 30px 30px 20px;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* Float image to the left and rest of details next to it */
/* img {
  max-width: 100%;
  height: auto;
} */

/* .img-resize {
  max-width:300%;
  max-height:300%;
  overflow: hidden;
} */

ul {
  list-style-type: none;
  list-style: none;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: black;
  padding-right: 5px;
  margin-top: 15px;
  margin-left: 15px;
}

span{
  font-size: 16px;
  
}

 body{
	width:100%;
	margin:auto;
}
#wrapper{
	display:block;
	width:100%;
	margin:auto;
}
.content{
	display:block;
	width:100%;
  margin:auto;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  padding-top:15px;
  padding-left:15px;
  
}
.row {
  padding-left:15px;
}

  .container-fluid {
    /* padding-right:0;
    padding-left:0; */
    margin-right:auto;
    margin-left:auto;
    margin-top: 50px;
    padding:0 15px 0 15px;
    vertical-align:top;
 }

 
