
<div *ngIf="showDetails != null">
<!-- <h1>{{ showDetails?.name }}</h1> -->


<div class="container-fluid">
  <div class="row">
      <div class="left_content col-lg-10 col-md-12 col-sm-12">
      <h1>{{ showDetails?.name }}</h1>
    </div>
  </div>

  <div class="row">
      <div class="left_content col-lg-10 col-md-12 col-sm-12">
        <div class="imagecontent col-lg-4 col-md-4 col-sm-12">
    <!-- <section id="image" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <img [src]=showDetails.image.medium alt=“image” class=“image” />
    </section> -->

    <!-- <section id="image" class="col-lg-2 col-md-3 col-sm-6 col-xs-12"> -->
        <img [src]=showDetails.image.medium alt=“image” class=“image” />
    <!-- </section> -->
    </div>
<br/>

    <div class="content col-lg-8 col-md-8 col-sm-12">
    <!-- <div class="content col-lg-10 col-md-9 col-sm-6 col-xs-12"> -->
      <div class="row-fluid">
        <span><b>Language: </b></span>
        <span>{{ showDetails.language }}</span>
      </div>

      <div class="row-fluid">

        <span><b>Genres: </b></span>
        <span>{{ showDetails.genres }}</span>
      </div>

      <div class="row-fluid">

        <span><b>Rating:</b> </span>
        <span class="star"> ★ </span><span> {{ showDetails.rating }}</span>
      </div>

      <div class="row-fluid">
        <span><b>Summary: </b></span>
        <span>{{ showDetails.summary }}</span>
      </div>

      <div *ngIf="showDetails.cast != null">
      <div class="row"><span><b>Cast: </b></span></div>
        <div class="row-fluid">

          <ul>
            <li *ngFor="let ele of showDetails.cast" class="col-lg-3 col-sm-6 col-xs-6">
              <div class="col-lg-3" >
                <div class="castName">{{ ele.name }}</div>
                <img [src]="ele.image" alt="image" class="imageCast" />
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
</div>
</div>



   <div class="spacer">
      <div  class="col-lg-12 col-sm-12 col-xs-12" style="text-align: center">
      <a routerLink="/shows"><button class="btn btn-info btn-lg"> Back</button></a>
    </div>
    </div>
    <br/>



    
      
