/* What is this for? */
* {
    border-radius: 0 !important;
  }

* {
  font-family: 'Open Sans', sans-serif;
}

/* Cast list styling */
.imageCast {
  max-width:100px;
  max-height:100px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  list-style: none;
}

.castName {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/* Show name header */
h1 {
  color: black;
  padding-right: 5px;
  margin: 30px 0 15px 60px;
}

/* Star in rating */
.star {
  color: transparent;  
  text-shadow: 0 0 0 rgb(247, 179, 7);
}
span{
  font-size: 16px; 
}

 body{
	width:100%;
	margin:auto;
}
/* #wrapper{
	display:block;
	width:100%;
	margin:auto;
} */

.content{
	display:block;
	width:100%;
  /* margin-left: 15px !important; */
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  padding-top:15px;
  padding-left:15px;
  overflow: auto;
  
}
.row {
  padding-left:15px;
}

.container-fluid {
  padding-right:3% !important;
  padding-left: 3% !important;
  
  /* margin-right:auto;
  margin-left:auto; */
 }


 @media(max-width:768px) {
  .navbar-form {
      padding: 0 !important;
      border: 0 !important;
  }
  .navbar-form .form-group {
      margin-bottom: 0 !important;
  
  }

  .h1 {
    text-align: center;
  }

 .spacer {
  padding-top: 30px;
  padding-bottom: 40px;

}

 
